p {
    font-family: verdana;
    font-size: 20px;
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  body {
    background-color: brown;
  }

  li {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  .fonte-big {
    font-size: 25px;
  }
