p {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
  }

  body {
    background-color:grey
  }

  li {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  h2{
    font-size: 30px;
  }


  .picture{
    border-radius: 100%;
  }

  .button{
    background-color:white;
    color:black;
    text-decoration: none;
    padding: 3px;
   border-radius: 30px;
  }

  .rodapé-prin{
    clear: both;
    padding: 5px;
    color: rgb(250, 255, 250);
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .icones-sociais{
    display: inline-block;
    float: right;
    width: 15px;
    height: 15px;
   
  }

  footer{
    display: inline-block;
  
  }

  img{
    border-radius: 50%;
  }

  