p {
    font-family: verdana;
    font-size: 20px;
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
  }

  body {
    background-color:blue
  }

  li {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  .fonte-big {
    font-size: 25px;
  }

  .picture{
    border-radius: 100%;
  }

  .button{
    background-color:green;
    color: white;
    text-decoration: none;
    padding: 3px;
   border-radius: 30px;
  }